<div class="page-header">
  <div class="pull-right">
    <%= link_to "Edit Person", edit_person_path(@person), class:"pull-right btn btn-info" %>
  </div>
  <h1><%=@person.full_name %></h1>
</div>

<h2>Assignments</h2>
<div class="pull-right">
  <%= link_to "+ Add Location", new_person_assignment_path(@person) %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Location</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @person.assignments.each do |assignment| %>
      <td><%= assignment.location.name %></td>
      <td><%= assignment.role %></td>
    </tr>
      <% end %>
  </tbody>
</table>
